/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf8ea;

  height: 7rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 2.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #9e3b3b;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #9e3b3b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #9e3b3b;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #f6cd61;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/**************************/
/* CARDS SECTION */
/**************************/

.section-motive {
  padding: 9.6rem 0;
}

.card-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.card-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 70%;
  /* z-index: 10; */
}

.motive-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

/**************************/
/* CARD GROUP */
/**************************/

.text-body-secondary {
  padding-top: 2rem;
  font-size: 1.2rem;
}

.text-body-secondary,
.card-title,
.card-text,
.text-body-tertiary {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #555;
}

.card-container {
  max-width: 120rem;
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.card-body {
  margin-top: 0.2rem;
  border: 1px solid #dadada;
}

.card-group {
  max-width: 100rem;
  gap: 2rem;
  margin-top: 5rem;
}

.card {
  border: none;
}

.card img:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 10px 10px 50px #d4d4d4;
}

.card-title {
  padding: 1rem;
  font-size: 1.8rem;
}

.card-text {
  padding: 1.2rem;
  font-size: 1.4rem;
}

/**************************/
/* INFORMATION */
/**************************/

.info-disp {
  margin-top: 8rem;
}

.item-info {
  margin-bottom: 3rem;
}

.icon-text-disp {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bs-icon {
  font-size: 3.2rem;
  color: #f6cd61;
  margin-top: 4rem;
}

.d-grid {
  margin-top: 5rem;
}

/**************************/
/* FORM */
/**************************/

.container-form {
  background-color: #fff;
  color: #f6cd61;
  max-width: 120rem;

  margin-bottom: 10rem;
}

.form-icon {
  font-size: 3rem;
  color: #f6cd61;
}

.col {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.color-white {
  color: #fff !important;
}

.form-wrapper {
  color: #555;
  max-width: 120rem;
}

.form-label {
  font-family: "Inter", sans-serif;
  color: #e46665;
  font-weight: 400;
  font-size: 2rem;
}

.form-control {
  border: 1px solid #f6cd61;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.form-img {
  padding: 1rem 2rem 1rem 2rem;
  max-width: 100%;
}

.contact-title {
  margin-top: 2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/**************************/
/* TOAST */
/**************************/
.toast-config {
  background-color: #f6cd61;
  color: #e46665;
  font-size: 1.6rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-bottom: 1.6rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

.social-icon {
  height: 1.8rem;
  width: 1.8rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
